h1 {
  color: green;
  font-family: fantasy;
  font-weight: bold;
}

body {
  background-color: grey;
}

header {
  text-align: center;
}

.container {
  border-top: solid;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
}
